###
# app configuration
# https://docs.pylonsproject.org/projects/pyramid/en/latest/narr/environment.html
###

[app:main]
use = config:defaults.ini

[pshell]
setup = vpnsutils.pshell.setup


###
# logging configuration
# https://docs.pylonsproject.org/projects/pyramid/en/latest/narr/logging.html
###

[loggers]
keys = root, vpnsutils

[logger_root]
level = INFO
handlers = file, file_warn

[logger_vpnsutils]
level = INFO
handlers =
qualname = vpnsutils

[handlers]
keys = file, file_warn

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[handler_file]
class = handlers.TimedRotatingFileHandler
kwargs = {'filename': r'%(here)s/../logs/pshell.log', 'delay': True, 'when': 'midnight', 'backupCount': 14, 'encoding': 'UTF-8'}
level = NOTSET
formatter = generic

[handler_file_warn]
class = handlers.TimedRotatingFileHandler
kwargs = {'filename': r'%(here)s/../logs/pshell-warn.log', 'delay': True, 'when': 'midnight', 'backupCount': 14, 'encoding': 'UTF-8'}
level = WARN
formatter = generic

[formatters]
keys = generic

[formatter_generic]
# format = %(asctime)s %(levelname)-5.5s [%(name)s:%(lineno)s][%(threadName)s] %(message)s
format = %(asctime)s %(levelname)-5.5s %(message)s
