###
# app configuration
# https://docs.pylonsproject.org/projects/pyramid/en/latest/narr/environment.html
###

[app:main]
use = egg:vpnsutils

pyramid.reload_templates = false
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.default_locale_name = en

zodbconn.uri = file://%(here)s/../zodb-data/Data.testing.fs?connection_cache_size=20000

retry.attempts = 3

# local 3X-UI (for my_view and tests)
xui_name = umbrella


[pshell]
setup = vpnsutils.pshell.setup

###
# wsgi server configuration
###

[server:main]
use = egg:waitress
listen = localhost:6543

###
# logging configuration
# https://docs.pylonsproject.org/projects/pyramid/en/latest/narr/logging.html
###

[loggers]
keys = root, vpnsutils

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = INFO
handlers = console

[logger_vpnsutils]
level = DEBUG
handlers =
qualname = vpnsutils

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
# format = %(asctime)s %(levelname)-5.5s [%(name)s:%(lineno)s][%(threadName)s] %(message)s
format = %(asctime)s %(levelname)-5.5s %(message)s
